:root {
  --primary-color: #ffcd1e;
  --secondary-color: #ff2525;
  --white: #fff;
  --black: #191919;
}

h1.heading {
  font-size: 60px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

p.heading.p__color {
  margin-bottom: 0;
  text-align: center;
  line-height: 1.2;
}

.service__box {
  border-radius: 10px;
  width: 100%;
  background-color: var(--black);
  padding: 55px;
  transition: .4s ease;
}

.service__box:hover {
  transform: translateY(5px);
  background-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
}

.service__box:hover .icon {
  color: var(--white);
}

.service__box:hover p.service__text.p__color {
  color: var(--white)!important;
}

.icon {
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 23px;
  display: inline-flex;
  color: var(--primary-color);
}

p.service__text.p__color {
  margin-bottom: 0;
}

h1.service__text {
  font-size: 19px;
  font-family: Poppins, sans-serif;
  padding: 10px 0;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .service__box {
    padding: 32px;
  }
}