.about {
  background: #191919;
}

img.about__img {
  border-radius: 10px;
  width: 100%;
}

h1.about__heading {
  margin-bottom: 10px;
  font-weight: 700;
  text-align: start;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
}

button.about.btn.pointer {
  text-transform: capitalize;
  width: 195px;
  height: 55px;
  font-size: 18px;
  transition: .4s ease;
}

.about__button {
  padding: 20px 0;
}